{% load static %}

<!DOCTYPE html>

<html>

<head>
    <meta charset = "UFT-8">
    <meta name ="viewport" content="width=device-width, 
    initial-scale=1.0">
    <title>SkinLab Homepage</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

  </head>

<body class="login-page">
    <script src="{% static 'main.js' %}"></script>

    <nav class="navbar navbar-expand">
      <div class ="container">
        <a href="" class="navbar-logo">SkinLab</a>
          <ul class="navbar-nav">
            <li class="nav-item">
                <a href ="homepage.html" class="nav-link active">Home</a></li>
            <li class="nav-item">
                <a href ="products.html" class="nav-link active">Products</a></li>
            <li class="nav-item">
                <a href ="ingredients.html" class="nav-link active">Ingredients</a></li>
            <li class="nav-item">
                <a href ="about.html" class="nav-link active">About</a></li>
          </ul>

          <ul class="navbar-nav">
                <li class="search">
                    <button class="search-button">Search</button>
                    <input 
                        class="search-input"
                        type="search"
                        name="search"
                        id="search"
                        placeholder="Enter product name or ingredient name....">
                    </li>
          </ul>

          <ul class="navbar-nav">
              <li class="nav-item" id="authentication">
                     {% if request.user.is_authenticated %}
                            <li><a href="/logout" style="color: #000000; text-decoration: none;">Logout</a></li>
                     {% else %}
                            <li><a href="/login" style="color: #000000; text-decoration: none;">Login</a></li>
                     {% endif %}
              </li>
          </ul>
          </div>
      </div>
    </nav>

    <img src="{% static 'images/skin-quiz.jpg' %}" class="quiz-img" alt="Quiz Image">

    <main>
        <div class="row" style="height: 100px;"></div>
        <div class="container" id="quiz-container" style="height: 100vh;">
            <div class="row h-100 justify-content-center">
                <div class="col-xl">
                     <div class="progress custom-progress" style="height: 15px;">
                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" 
                            class="progress-bar custom-progress-bar" 
                            role="progressbar" style="width: 0%"></div>
                    </div>

                    <div id="input-container">
                        <form class="needs-validation" id="form-wrapper" method="post" action=""
                            name="form-wrapper" novalidate>
                            {% csrf_token %}
                            <div id="step-container">
                                <div class="step step-1 active">
                                    <h4>1. What are your top skincare concerns? (Select all that apply)</h4>
                                    <div class="input-question">
                                          <div>
                                                 <input class="form-check-input question__input" id="q1_opt1" name="skin_concerns" 
                                                        type="checkbox" value="Well-aging"> 
                                                 <label class="form-check-label question__label" for="q1_opt1">Wrinkles or fine lines</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q1_opt2" name="skin_concerns" 
                                                        type="checkbox" value="Acne"> 
                                                 <label class="form-check-label question__label" for="q1_opt2">Acne or breakouts</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q1_opt3" name="skin_concerns" 
                                                        type="checkbox" value="Blackheads"> 
                                                 <label class="form-check-label question__label" for="q1_opt3">Blackheads</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q1_opt4" name="skin_concerns" 
                                                        type="checkbox" value="Oily"> 
                                                 <label class="form-check-label question__label" for="q1_opt4">Oiliness</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q1_opt5" name="skin_concerns" 
                                                        type="checkbox" value="Dryness"> 
                                                 <label class="form-check-label question__label" for="q1_opt5">Dryness</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q1_opt6" name="skin_concerns" 
                                                        type="checkbox" value="Brightening"> 
                                                 <label class="form-check-label question__label" for="q1_opt6">Dark spots or hyperpigmentation</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q1_opt7" name="skin_concerns" 
                                                        type="checkbox" value="Soothing"> 
                                                 <label class="form-check-label question__label" for="q1_opt7">Redness or sensitivity</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q1_opt8" name="skin_concerns" 
                                                        type="checkbox" value="Dullness"> 
                                                 <label class="form-check-label question__label" for="q1_opt8">Dullness</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q1_opt9" name="skin_concerns" 
                                                        type="checkbox" value="Stress"> 
                                                 <label class="form-check-label question__label" for="q1_opt9">Uneven texture</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q1_opt10" name="skin_concerns" 
                                                        type="checkbox" value="Scarring"> 
                                                 <label class="form-check-label question__label" for="q1_opt10">Scars or blemish marks</label>
                                          </div>
                                    </div>
                                    <div id="input-buttons">
                                          <button class="next-btn" type="button">Next</button>
                                      </div>
                                </div>

                                <div class="step step-2">
                                    <h4>2. How would you describe your skin type?</h4>
                                    <div class="input-question">
                                          <div>
                                                 <input class="form-check-input question__input" id="q2_opt1" name="skin_type" 
                                                        type="radio" value="Dry"> 
                                                 <label class="form-check-label question__label" for="q2_opt1">Dry</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q2_opt2" name="skin_type" 
                                                        type="radio" value="Oily"> 
                                                 <label class="form-check-label question__label" for="q2_opt2">Oily</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q2_opt3" name="skin_type" 
                                                        type="radio" value="Combination"> 
                                                 <label class="form-check-label question__label" for="q2_opt3">Combination (oily in some areas, dry in others)</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q2_opt4" name="skin_type" 
                                                        type="radio" value="Normal"> 
                                                 <label class="form-check-label question__label" for="q2_opt4">Normal</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q2_opt5" name="skin_type" 
                                                        type="radio" value="Sensitive"> 
                                                 <label class="form-check-label question__label" for="q2_opt5">Sensitive</label>
                                          </div>
                                    </div>
                                    <div id="input-buttons">
                                          <button class="prev-btn" type="button">Previous</button>
                                          <button class="next-btn" type="button">Next</button>
                                      </div>
                                </div>

                                <div class="step step-3">
                                    <h4>3. Which age group are you in?</h4>
                                    <div class="input-question">
                                          <div>
                                                 <input class="form-check-input question__input" id="q3_opt1" name="age" 
                                                        type="radio" value="13-24"> 
                                                 <label class="form-check-label question__label" for="q3_opt1">13-24</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q3_opt2" name="age" 
                                                        type="radio" value="25-34"> 
                                                 <label class="form-check-label question__label" for="q3_opt2">25-34</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q3_opt3" name="age" 
                                                        type="radio" value="25-49"> 
                                                 <label class="form-check-label question__label" for="q3_opt3">35-49</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q3_opt4" name="age" 
                                                        type="radio" value="50"> 
                                                 <label class="form-check-label question__label" for="q3_opt4">50+</label>
                                          </div>
                                    </div>
                                    <div id="input-buttons">
                                          <button class="prev-btn" type="button">Previous</button>
                                          <button class="next-btn" type="button">Next</button>
                                      </div>
                                </div>

                                <div class="step step-4">
                                   <h4>4. 15-30 minutes after washing your face with a cleanser, how does your skin feel?</h4>
                                   <div class="input-question">
                                          <div>
                                                 <input class="form-check-input question__input" id="q4_opt1" name="verify_skin_type" 
                                                        type="radio" value="Dry"> 
                                                 <label class="form-check-label question__label" for="q4_opt1">Tight, dry, or dehydrated</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q4_opt2" name="verify_skin_type" 
                                                        type="radio" value="Oily"> 
                                                 <label class="form-check-label question__label" for="q4_opt2">Shiny and oily</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q4_opt3" name="verify_skin_type" 
                                                        type="radio" value="Combination"> 
                                                 <label class="form-check-label question__label" for="q4_opt3">Shiny or oily only in certain areas (like the T-zone)</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q4_opt4" name="verify_skin_type" 
                                                        type="radio" value="Normal"> 
                                                 <label class="form-check-label question__label" for="q4_opt4">Normal and comfortable</label>
                                          </div>
                                   </div>
                                   <div id="input-buttons">
                                          <button class="prev-btn" type="button">Previous</button>
                                          <button class="next-btn" type="button">Next</button>
                                      </div>
                               </div>

                               <div class="step step-5">
                                   <h4>5. Does your skin feel sensitive or easily irritated by new products?</h4>
                                   <div class="input-question">
                                          <div>
                                                 <input class="form-check-input question__input" id="q5_opt1" name="sensitivity_adj" 
                                                        type="radio" value="0.7"> 
                                                 <label class="form-check-label question__label" for="q5_opt1">Yes, often</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q5_opt2" name="sensitivity_adj" 
                                                        type="radio" value="0.3"> 
                                                 <label class="form-check-label question__label" for="q5_opt2">Occasionally</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q5_opt3" name="sensitivity_adj" 
                                                        type="radio" value="0"> 
                                                        <label class="form-check-label question__label" for="q5_opt3">Rarely</label>
                                          </div>
                                   </div>
                                   <div id="input-buttons">
                                          <button class="prev-btn" type="button">Previous</button>
                                          <button class="next-btn" type="button">Next</button>
                                      </div>
                               </div>

                               <div class="step step-6">
                                   <h4>6. How long do you prefer your skincare routine to take?</h4>
                                   <div class="input-question">
                                          <div>
                                                 <input class="form-check-input question__input" id="q6_opt1" name="routine_steps" 
                                                        type="radio" value="3"> 
                                                 <label class="form-check-label question__label" for="q6_opt1">As quick as possible (1-3 steps)</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q6_opt2" name="routine_steps" 
                                                        type="radio" value="5"> 
                                                 <label class="form-check-label question__label" for="q6_opt2">I can spare a few minutes (4-5 steps)</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q6_opt3" name="routine_steps" 
                                                        type="radio" value="6"> 
                                                 <label class="form-check-label question__label" for="q6_opt3">I enjoy a detailed routine (6+ steps)</label>
                                          </div>
                                   </div>
                                   <div id="input-buttons">
                                          <button class="prev-btn" type="button">Previous</button>
                                          <button class="next-btn" type="button">Next</button>
                                      </div>
                               </div>

                               <div class="step step-7">
                                   <h4>7. How often do you wear sunscreen?</h4>
                                   <div class="input-question">
                                          <div>
                                                 <input class="form-check-input question__input" id="q7_opt1" name="sun_care_adj" 
                                                        type="radio" value="0.7"> 
                                                 <label class="form-check-label question__label" for="q7_opt1">Every day, even when indoors</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q7_opt2" name="sun_care_adj" 
                                                        type="radio" value="0.3"> 
                                                 <label class="form-check-label question__label" for="q7_opt2">Only on sunny days</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q7_opt3" name="sun_care_adj" 
                                                        type="radio" value="0"> 
                                                 <label class="form-check-label question__label" for="q7_opt3">Rarely or never</label>
                                          </div>
                                   </div>
                                   <div id="input-buttons">
                                          <button class="prev-btn" type="button">Previous</button>
                                          <button class="next-btn" type="button">Next</button>
                                      </div>
                               </div>

                               <div class="step step-8">
                                   <h4>8. Do you wear makeup daily?</h4>
                                   <div class="input-question">
                                          <div>
                                                 <input class="form-check-input question__input" id="q4_opt1" name="makeup_YN" 
                                                        type="radio" value="Y"> 
                                                 <label class="form-check-label question__label" for="q4_opt1">Yes, a full face daily</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q4_opt2" name="makeup_YN" 
                                                        type="radio" value="Y"> 
                                                 <label class="form-check-label question__label" for="q4_opt2">Only minimal makeup</label>
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q4_opt3" name="makeup_YN" 
                                                        type="radio" value="Y"> 
                                                 <label class="form-check-label question__label" for="q4_opt3">Occasionally</label>       
                                          </div>
                                          <div>
                                                 <input class="form-check-input question__input" id="q4_opt4" name="makeup_YN" 
                                                        type="radio" value="N"> 
                                                 <label class="form-check-label question__label" for="q4_opt4">Rarely or never</label>
                                          </div>
                                   </div>
                                   <div id="input-buttons">
                                          <button class="prev-btn" type="button">Previous</button>
                                          <button class="next-btn" type="button">Next</button>
                                      </div>
                               </div>
                               
                               <div class="step step-9">
                                   <div class="mt-1">
                                          <div classs="closing-msg"></div>
                                                 <h4>Quiz completed!</h4>
                                                 <p>Click Submit to receive a list of skincare products created only for you.</p>
                                                 <a class="back-link" href="">Re-take the quiz.</a>
                                   </div>
                                   <div id="input-buttons">
                                          <button class="prev-btn" type="button">Previous</button>
                                          <button class="submit-btn" type="submit">Submit</button>
                                          
                                      </div>
                               </div>
                            
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div id="preloader-class">
       <div id="preloader"></div>
    </div>

</body>


</html>