
body{
    margin: 0;
    padding: 0;
}

main{
    font-family: Jura;
}

.home-page{
    font-family: Jura;
}

.login-page{
    font-family: Jura;
}

.navbar-logo {
    font-size: 35px;
    font-weight: 500;
    padding: 10px;
    color: black;
    text-decoration: none;
}

#authentication 
{
    color:rgb(66, 66, 66);
    text-decoration: none;
}

.search {
    display: flex;
    align-items: center;
}

.search-button {
    outline: none;
    border: none;
    background: white;
    padding: 10px;
    font-family: Jura;
    height: 35px;
    }

.search-input {
    font-size: 16px;
    font-family: Jura;
    color:rgb(66, 66, 66);
    margin-left: 20px;
    width: max-content;
}

.center-link {
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: black;
}

.bg-img {
    height: auto;
    width: 100vw;

} 

.link {
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    font-family: Jura;
    background-color: #ffffff; 
    padding: 10px 20px;
    text-decoration: none;
}


#login-title {
    align-items: center;
    font-size: 35px;
}

#login-button {
    outline: 1px solid;
    align-items: center;
}

.quiz-img{
    top: 40%;
    left: 50%;
    position: absolute;
    z-index: -1;
    transform: translate(-50%, -50%);
    height: auto;
    width: 90%;
}

#quiz-container{
    min-height: 50vh;
    width: 90%;
    z-index: 1;
}

.progress{
    border-radius: 0px !important;
}

.progress .custom-progress{
    color: beige;
}

.progress .custom-progress-bar {
    background-color: #5c4545;
}

#step-container{
    margin-left: 0;
    width: 500px;
    min-height: 500px;
    display: flex;
    padding-top: 20px;
    padding-left: 30px;
}

.input-question {
    display: block;
    border: 1.5px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.input-question .div{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-check-input {
    padding: 5px;
}

.form-check-label{
    padding: 5px;
}



#step-container{
    width: 55%;
}
.step {
    display: none;
    padding-bottom: 10px;
}

.step.active {
    display:block;
}

#preloader {
    background: #ffffff url(static/images/preloader.gif) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.prev-btn{
    float: left;
    background-color: #ffffff;
    padding: 5px 35px;
    border: 1px solid black;
    margin-top: 15px;
    width: 150px;
    
}

.next-btn{
    float: right;
    background-color: #ffffff;
    padding: 5px 35px;
    border: 1px solid black;
    margin-top: 15px;
    width: 150px;
    
}   
   
.submit-btn{
    float: right;
    background-color: #ffffff;
    padding: 5px 35px;
    border: 1px solid black;
    margin-top: 15px;
    width: 150px;
    
}

.result-page{
    font-family: Jura;
}

#result-container{
    color: white;
}

#result-col{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#result-list-title{
    padding-top: 25px;
    padding-bottom: 10px;
}

#product-cards{
    background-color: #5c4545;
    margin: 10px;
    align-items: center;
}

.card {
    margin-top: 25px;
    margin-bottom: 20px;
    width: auto;
    overflow: visible;
}

.card-header {
    font-size: 1.5rem !important;
    font-weight: bold !important;
}
  
.card-title {
    font-size: 1.25rem !important;
    font-weight: bold !important;
}

.card-body {
    max-height: none; 
}

.result-page-end{
    position: relative;
    margin-left: 400px;
    margin-top: 30px;
}

.hidden{
    display: none !important;
}

#save-confirmation{
    display: none; 
    text-align: center; 
    margin-top: 70px;
    height: 500px
}

.save-btn{
    background-color: #ffffff;
    padding: 5px 35px;
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 150px;
}

.acct-btn{
    background-color: #ffffff;
    padding: 5px 35px;
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 500px;
    margin-left: 20px;
    width: 250px;
}

.saved-card-body .class-text {
    text-align: left !important;
}

.saved-card-body .class-title {
    font-weight: bold;
}
.saved-card-body {
    text-align: left;
    margin-left: 15px;
    max-height: none;
}

#saved-product-cards{
    background-color: #5c4545;
    margin: 20px;
}